<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Hola</title>
</h:head>
<h:body>
	<h:form id="form0">
		<p:commandButton value="Lista" actionListener="#{usuariosBean.listar()}"
	update="form1"	/>
	</h:form>
	
	<h:form id="form1">
		<p:panelGrid columns="1">
			<p:dataTable var="lsp" value="#{usuariosBean.lsPersona}">
				<p:column headerText="Codigo">
					<p:outputLabel value="#{lsp.idPersona}" />
				</p:column>
				<p:column headerText="Personas">
					<p:outputLabel value="#{lsp.nombre} #{lsp.apellido}" />
				</p:column>
			</p:dataTable>
		</p:panelGrid>
	</h:form>
</h:body>
</html>